* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: linear-gradient(#000, #a75b1e);
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 144rem;
}

.header {
    display: flex;
    padding: 2rem;
    height: 10vh;
}

.title {
    font-size: 5rem;
    margin: auto 0;
    color: #ffffff;
    letter-spacing: .1rem;
}

.main {
    display: flex;
    justify-content: center;
    padding: 10rem;
}

.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: .5rem solid #000;
    padding: 5rem;
    border-radius: 1rem;
    background-color: #3c3c3f;
}

.display {
    text-align: left;
    margin-bottom: 5rem;
    width: auto;   
    border: .3rem solid #000;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 3rem;
    background-color: #dadada;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.btn {
    padding: 1rem;
    font-size: 3rem;
    background-color: #c2c2c4;
    transition: .3s ease;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.btn-clear {
    background-color: #181818;
    color: #dadada;
}

.btn-operator {
    background-color: #3d3d3d;
    color: #dadada;
}

.btn-equals {
    background-color: #00668f;
    color: #dadada;
}

@media (max-width: 1280px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 7px;
    }
}